/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* cuerpo */
body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  max-width: 1300px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* cabecera */
header {
  height: 90px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header a {
  height: 150%;
  margin-bottom: 10px;
}

header img {
  height: 100%;
}


header nav ul li {
  display: inline-block;
  margin-right: 3rem;
  font-size: 20px;
}

header button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    display: none;
    
  }

.presentacion {
  background-image: url(./img/cabecera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 900px;
  width: auto;
  color: white;
  align-items: center;
}
.mobil{
    display: none;
    background-color: transparent;
    border: 0;
    display: none;
}
.mobil img{
    width: 700px;
    height: 400px;
}
h1 {
  font-size: 50px;
  background-attachment: fixed;
}
.emociones {
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  background-attachment: fixed;
}
h3 {
  text-align: center;
  margin: 10px;
}
/* Parte principa 1 */
main .uno {
  display: flex;
  justify-content: space-evenly;
}

main article {
  width: 400px;
  height: auto;
  background-color: rgb(243, 237, 237);
  border-radius: 20px;
  padding: 20px;
  text-align: justify;
}

.presentacion .textopresen {
  padding-top: 400px;
  height: auto;
  width: 600px;
  align-items: center;
  margin-left: 100px;
  text-align: justify;
}
article img {
  width: 360px;
}
/* parte principal 2 */
main .dos {
  background-color: rgb(243, 237, 237);
  margin-top: 20px;
  display: flex;
  justify-content:baseline
  
}
.dos img {
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  max-height: 500px;
}

.maxima {
  align-items: center;
  text-align: justify;
  padding: 50px;
}
.maxima img{
    display: none;
}
/* PIE */
footer {
  background-color: rgb(190, 248, 243);
  height: 100px;
  text-align: center;
  align-items: center;
}

.pie {
  padding-top: 50px;
}
/* Diferente resolución */
@media screen and (max-width: 990px) {
    header nav {
      display: none;
    }
  
    header button {
      display: initial;
    }
 
    .presentacion{
        display: none;
   
    }
    
    .mobil{
        display: inline-table;
        align-items: center ;
        text-align: center;
        margin: auto;

    }
    .mobil img{
      width: 600px;
    }
    .dos .imagendos{
        display: none;

    }

    main .uno{
        display:inline-block;
        align-items: center ;
        text-align: center;
        margin: auto;
    }
    .maxima{
        display: table-column-group;
        
    }
    .maxima img{
        display: block;
        width: 400px;
        align-items: center;
        text-align: center;
        margin:auto;
        margin-bottom: 10px;
    }
    main .dos {
        background-color: rgb(243, 237, 237);
        flex-grow: 1;
        min-width: 550px;
        align-items: center;
        text-align: center;
        justify-content: space-between;
      }  
   
    main article{
      margin:auto;
     margin-top: 20px;
     align-items: center;
     margin-left: 100px;
    }
    

}
